<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://ia801000.us.archive.org/9/items/minecraft-minh-tien-1.21.131-1770914905/Minecraft-MinhTien_1.21.131_1770914905.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.mojang.minecraftappminhtien</string>
                <key>bundle-version</key>
                <string>1.21.131</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Minecraft MTIEN</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
